// Here you can add other styles
.px-3 {
    display: flex;
    margin-left: auto;
}

.auth-status {
    margin-top: 10px;
    color: red;
}

.auth-comment {
    display: inline-flex;
    font-size: x-small;
    margin-left: 30%;
}